<html>
<head>
	<h1>
		<title>BlocKIT</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/bootstrap.min.css" rel = "stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/runPage.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/runPage.css"></link>
	</h1>
</head>
<body>
	<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/pages/homepage.html" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>
	
	<ul class="topnav fontChange" id="myTopnav">

	<li><a href="/runPage">To Do</a></li>
	<li><a href="/history">Completed</a></li>

	</ul>
	
	{{#each tasks}}
	<div class = "button" id = "{{id}}">
		<a class = "button fontChange" id = "{{id}}Text">
			{{title}}, Due: {{due_date}}, Will Take <br>{{hours}} Hours, {{minutes}} minutes</a>
			<br>
			<div class = "extra-holder">

				<div  class = "extra">
					<div class = "dropdown">
						<button onclick = "showDetails({{dropDown}})"
						class = "dropbtn fontChange">Details
						<img src = "../images/dropDown.png" style = "width:20;height:20px;">
					</img>
				</button>

			</div>
		</div>
		
		<div>
			<a href="/editScreen/{{number}}" class = "button fontChange">
			edit
			</a>
		</div>
		
		<div class = "extra">
			<a href = "/taskScreen/{{number}}" class = "button fontChange">
				Start
			</a>
		</div>

	</div>
	<div id = "{{dropDown}}" class = "dropdown-content fontChange">
		<div class = "inner-content fontChange">
			{{notes}}
		</div>

	</div>
	</div>
	{{/each}}
	<!--<div class = "button" id = "task1">
		<a class = "button" id = "task1Text">
			Math Homework, Due 11/5, Will take 4 hours, 0 Minutes</a>
			<br>
			<div class = "extra-holder">

				<div  class = "extra">
					<div class = "dropdown">
						<button onclick = "showDetails()"
						class = "dropbtn">Details
						<img src = "../images/dropDown.png" style = "width:20;height:20px;">
					</img>
				</button>

			</div>
		</div>
		<div class = "extra">
			<a href = "/pages/taskScreen.html" class = "button">
				Start
			</a>
		</div>

	</div>
	<div id = "detailDropdown" class = "dropdown-content">
		<div class = "inner-content">
			Pages 120-122, Problems 21 - 30, 40 - 45
		</div>

	</div>
	</div>-->
	<div class = "button">
		<a class ="button fontChange" href = "/pages/homepage.html"> Back To Home </a>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src = "../js/runPage.js"></script>
</body>
</html>
