<html>
<head>
	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134236950-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	
		<title>BlocKIT</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../css/bootstrap.min.css" rel = "stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/runPage.css" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" href = "../css/runPage.css"></link>
	
</head>
<body>
	{{#if showAlternate}}
			<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				TASKS
				
			
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>


		</div>

	</div> 


	<!--<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>-->
	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>

	

	
	
<div id = "second-header-holder">
			
			<div id = "todoButtonOld">
			<a href = "/runPage" id = "todoTextOld">
				TO DO
			</a>
			</div>
			<div id = "completedButtonOld">
			<a href = "/history" id = "completedTextOld">
				HISTORY
			</a>
			</div>
			<div id = "secondHeaderBuffer">

			</div>
			<div class = "addTaskButton" id = "addTaskButtonOld">
				<a href = "/createTask" id = "addTaskTextOld" class = "addTaskButton">
				+ADD TASK
			</a>
			</div>



</div>
    {{else}}
	<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<!--<a href = "/runPage" id = "tasksText">
				TASKS
				
			
			</a>-->
			
			<a href = "/runPage">
			<img src = "../images/tasksbuttontext.png" style = "width:90px;height:33px;"></img>
			</a>

			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>


		</div>

	</div> 


	<!--<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>-->
	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>

	

	
	
<div id = "second-header-holder">
			
			<!--<div id = "todoButton">
			<a href = "/runPage" id = "todoText">
				TO DO TASKS
			</a>
			</div>
			<div id = "completedButton">
			<a href = "/history" id = "completedText">
				HISTORY
			</a>
			</div>-->
			
			<p class = "taskTitle fontChange">
			TO DO TASKS
			</p>
			<div id = "secondHeaderBuffer">

			</div>
			<div id = "addTaskButton" class = "addTaskButton">
				<a href = "/createTask" id = "addTaskText" class = "addTaskButton">
				 + ADD TASK
			</a>
			</div>



</div>

{{/if}}
	<!--<ul class="topnav fontChange" id="myTopnav">

	<li><a href="/runPage">To Do</a></li>
	<li><a href="/history">Completed</a></li>

	</ul>-->
	
	{{#each tasks}}
	<div id = "id{{@index}}">
		<a class = "button fontChange" id = "id{{@index}}Text">
			<div class = "date-bar">
			Due: {{due_date}}
			</div></a>
			
			<div class = "extra-holder">
				<div  class = "extra"id = "details">
					<div class = "taskdescription">
					{{title}}<br><font size = "3px">Duration: {{hours}} hours {{minutes}} minutes</font></a>
					</div>
				</div>
		
		<div class="extra">
			<a href="/editScreen/{{@index}}" class = "button fontChange">
			<img src = "../images/edit.png" style = "width:30px;height:30px;">
			</a>
		</div>
		
		<div class = "extra">
			<a href = "/taskScreen/{{@index}}" class = "button fontChange">
			<img src = "../images/playicon.jpg" style = "width:30px;height:30px;">
			</a>
		</div>
		<div id = "number">
			{{@index}}
		</div>

	</div>
	<div id = "dropDown{{@index}}" class = "dropdown-content fontChange">
		<div class = "inner-content fontChange">
			{{notes}}
		</div>

	</div>
	</div>
	{{/each}}
	<!--<div class = "button" id = "task1">
		<a class = "button" id = "task1Text">
			Math Homework, Due 11/5, Will take 4 hours, 0 Minutes</a>
			<br>
			<div class = "extra-holder">
				<div  class = "extra">
					<div class = "dropdown">
						<button onclick = "showDetails()"
						class = "dropbtn">Details
						<img src = "../images/dropDown.png" style = "width:20;height:20px;">
					</img>
				</button>
			</div>
		</div>
		<div class = "extra">
			<a href = "/pages/taskScreen.html" class = "button">
				Start
			</a>
		</div>
	</div>
	<div id = "detailDropdown" class = "dropdown-content">
		<div class = "inner-content">
			Pages 120-122, Problems 21 - 30, 40 - 45
		</div>
	</div>
	</div>-->
	<!--<div class = "button">
		<a class ="button fontChange" href = "/homepage"> Back To Home </a>
	</div>-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src = "../js/runPage.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87745863-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>