<html>
	<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel = "stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/taskScreen.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "../css/taskScreen.css"></link>
	<title id = "title">
		BlocKIT
	</title>
</head>
<body>
	<center>
		<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				TASKS
				
			
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:30px;height:25px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:30px;height:25px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:30px;height:25px;"></img>
					</a>
			</div>


		</div>

	</div> 

	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>
	


	<div class="title" id="creTask">
		 CREATE A TASK 
	</div>
	
	<div class="buffer">
	</div>
	
	<div>
		<textarea readonly rows="1" cols = "34" class = "input" maxlength = "40" class="fontChange" id = "taskName">{{title}}</textarea>
	</div>
	<div>
		<p class = "title fontChange">
			DUE DATE
		</p>

		<textarea rows="1" cols = "34" class = "input" maxlength = "40" class="fontChange" id = "dueDate">{{due_date}}</textarea>
	</div>
	<div class = "fontChange">
		<p class = "title fontChange">
			TIME REMAINING
		</p>

		<textarea readonly rows="1" cols = "11" class = "input" maxlength = "3" class="fontChange" id = "hours">{{hours}}</textarea>
		HR
		<textarea readonly rows="1" cols = "11" class = "input" maxlength = "2" class="fontChange" id = "minutes">{{minutes}}</textarea>
		MIN
	</div>
	<div>
		<p class = "title fontChange">
			NOTES
		</p>

		<textarea readonly rows="7" cols = "34" class = "input" maxlength = "280" class="fontChange" id = "notes">{{notes}}</textarea>
	</div>
	<div>
		<p class = "title fontChange">
			BLOCKED WEBSITES
		</p>
		<div class = "dropdown">
			<button onclick = "showBlocked()"
			class = "dropbtn fontChange">{{websites.length}} Blocked
			<img src = "../images/dropDown.png" style = "width:20;height:20px;">
		</img>
	</button>
</div>

<div id = "blockDropdown" class = "dropdown-content fontChange">
	{{#each websites}}
	<div class = "inner-content" id = "websiteOne">
		{{title}}
			<!--<img src = "../images/checkBox.png" style = "width:20px;height:20px;" >
		</img>-->
		<input class = "checkBox" type = "checkbox" checked = "checked">
	</input>
</div>
	{{/each}}
</div>
</div>

<div id = 'number'>
	</div>


<div class = "button-holder">

	<div  class = "button fontChange" id="cancelButton">
	<a href = "/runPage" class = "button" id="canButText">
		Cancel</a>
	</div>
	<!--<div  class = "button fontChange">
	<a href = "/editScreen/{{number}}" class = "button">
		Edit Task</a>
	</div>-->
	<div class = "button fontChange" id = "finButton">
    <a href = "/runPage" class = "button" id = "confirm">
    	I Finished!</a>
	</div>

</div>

	<script src="https://code.jquery.com/jquery.js">
	</script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/taskScreen.js"></script>
	</center>
</body>
</html>

