<html>
	<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel = "stylesheet">
	<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../css/taskScreen.css" rel="stylesheet">
	<link rel = "stylesheet" type = "text/css" href = "../css/taskScreen.css"></link>
	<title id = "title">
		BlocKIT
	</title>
</head>
<body>
	<center>
<div id = "fixedHeader">
		<div id = "header-holder">
			
			<div class = "tasksButton">
			<a href = "/runPage" id = "tasksText">
				<img src = "../images/tasksbuttontext.png" style = "width:90px;height:33px;"></img>
			</a>
			</div>
			
			
			<div id = "blockButton">
					<a href = "/settings">
						<img src = "../images/websiteblock.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "helpButton">
					<a href = "/help">
						<img src = "../images/help.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>
			
			
			<div id = "exitButton">
					<a href = "/">
						<img src = "../images/exit.png" style = "width:35px;height:33px;"></img>
					</a>
			</div>


		</div>

	</div> 


	<!--<h1 class="fontChange" id="appHeader">
		<div>
			<a href = "/homepage" ><img src = "../images/back.png" style = "width:60px;height:60px;" id = "backButton"></a>
			Run Task
		</div>
	</h1>-->
	<div class = "buffer"> 
		<!-- Used to create room for top bar-->
	</div>
	
	



	<div class="title" id="creTask">
		 RUNNING TASK
	</div>
	
	<div class="buffer">
	</div>
	
	<div>
		<textarea readonly rows="1" cols = "34" class = "input" maxlength = "40" class="fontChange" id = "taskName">{{title}}</textarea>
	</div>
	<div>
		<p class = "title fontChange">
			DUE DATE
		</p>

		<textarea rows="1" cols = "34" class = "input" maxlength = "40" class="fontChange" id = "dueDate">{{due_date}}</textarea>
	</div>
	<div class = "fontChange">
		<p class = "title fontChange">
			TIME REMAINING
		</p>
		<div id="timer">
				<p id = "hours" style = "display:inline">{{hours}}</p>
				<p style = "display:inline">:</p>
				<p id = "minutes" style = "display:inline">{{minutes}}</p>
		</div>
	</div>
	<div>
		<p class = "title fontChange">
			NOTES
		</p>

		<textarea readonly rows="7" cols = "34" class = "input" maxlength = "280" class="fontChange" id = "notes">{{notes}}</textarea>
	</div>
	<div>
		<p class = "title fontChange">
			BLOCKED WEBSITES
		</p>
		<div class = "dropdown">
			<button onclick = "showBlocked()"
			class = "dropbtn fontChange">{{websites.length}} Blocked
			<img src = "../images/dropDown.png" style = "width:20;height:20px;">
		</img>
	</button>
</div>

<div id = "blockDropdown" class = "dropdown-content fontChange">
	{{#each websites}}
	<div class = "inner-content" id = "websiteOne">
		{{title}}
			<!--<img src = "../images/checkBox.png" style = "width:20px;height:20px;" >
		</img>-->
		<input class = "checkBox" type = "checkbox" checked = "checked">
	</input>
</div>
	{{/each}}
</div>
</div>

<div id = 'number'>
	{{number}}
</div>


<div class = "button-holder">

	<div  class = "button fontChange" id="cancelButton">
	<a href = "/runPage" class = "button" id="canButText">
		Cancel</a>
	</div>
	<!--<div  class = "button fontChange">
	<a href = "/editScreen/{{number}}" class = "button">
		Edit Task</a>
	</div>-->
	<div class = "button fontChange" id = "finButton">
    <a href = "/runPage" class = "button" id = "confirm">
    	I Finished!</a>
	</div>

</div>

	<script src="https://code.jquery.com/jquery.js">
	</script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/taskScreen.js"></script>

	</center>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87745863-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

